.py-2
  h1.text-3xl Contact
  p.mt-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis, libero eu ornare auctor, est lacus convallis mi, a laoreet risus nulla in nunc. If you have any questions, just drop me an email at:
  a.mt-2 **Email**: Your email address
  p.mt-4 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
  h2.text-semibold.text-2xl.mt-2 Connect with me or follow my work via the following platforms:
  ul.mt-2
    li.mt-2 **GitHub**: Your GitHub link
    li.mt-2 **LinkedIn**: Your LinkedIn link
  p.mt-4 Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
