.h-full.w-full.p-4.border.border-gray-300.rounded-md 
  p.cursor-pointer.w-full.text-right.leading-1(hx-get=`/api/project?id=${id}`, hx-target='#container')
    i(class="ph ph-x-circle text-xl text-red-700")
  h1.text-3xl Summary
  p.my-4.leading-5.text-lg #{ summary }
  h1.text-3xl Technology
  p.my-4.leading-5.text-lg #{ tech }
  a.text-blue-700(class='hover:text-blue-500 hover:underline' href='/') GitHub Link
