.py-2
  h1.text-3xl Hello and welcome to my portfolio
  p.mt-4 I'm Michael, a web developer.
  p.mt-4 Youll find a gallery showcasing a variety of my web development projects that I have been a part of. Reflecting my skills and strengths, each of these projects hold their own unique story.
  p.mt-4 Feel free to browse through and don't hesitate to reach out if you think we can create something great together.
  p.mt-4 Thank you for visiting!
