.py-2
  h1.text-3xl.mb-4 Projects
    h2.text-2xl As a professional
    ul
    li PAID
    li metrics
    li cental api 
    li connect metrics 
    li client agreements
    li signup-connect and signup
    li construct splicing
    h2.text-2xl As a tinker-er
    ul
    li chat bot
    li myspace app
    li command line game
    h2.text-2xl As a bootcamp student
    ul
    li rideboost
    li backpackd
    li trail buddy
    li quiz app
    h2.text-2xl tech i have played around with along the way
    ul
    li mapbox
    li tailwindcss
    li express.js
    li auth0
    li postgres
    li postman
    li typescript
    li nextjs
    li react
    li javascript
    li jquery
    li react testing library 
    li jest
    
