.py-2
  h1.text-3xl.mb-4 Projects
  h2 As a professional
  ul
  li PAID
  li signup-connect and signup
  li construct splicing
  h2 As a tinker-er 
  ul 
  li chat bot 
  li myspace app
  li command line game
  h2 As a bootcamp student
  ul 
  li rideboost 
  li backpackd 
  li trail buddy 
  li quiz app 
